version: '3.8'
services:
  db:
    image: postgres:15-alpine
    container_name: sea_postgres
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
      POSTGRES_DB: sea_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: